<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>${data.title}</title>
	

	<link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/demo/demo2/base/style.bundle.css" rel="stylesheet" type="text/css" />


</head>

<body>
<h1>Hello marko</h1>
	<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="assets/demo/demo2/base/scripts.bundle.js" type="text/javascript"></script>
</body>

</html>